:root {
	--sk-size: 80px;
	--sk-color: rgba(249, 169, 121, 0.6);
}

body {
	background: url('https://i.imgur.com/2gfwG.png') no-repeat center center fixed;
	background-size: cover;
}

.cursor-pointer {
	cursor: pointer;
}
